/***********  FOOTER  ***********/
.footer {
  background-color: var(--gray-dark-color);
  color: var(--text-color);
  margin-bottom: calc(var(--header-height) + 5px);
	padding: 0.5rem;
  text-align: center;
  border-top-width: 1px;
  font-size: 0.875rem;
  font-style: italic;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

@media screen and (min-width: 1024px) {
	.footer {
		margin-bottom: 0;
	}}