.home-title {
	padding: 1rem 1rem;
	width: 100%;
	text-align: center;
	font-family: var(--dancing-script);
	font-size: 2rem;
	color: #d9c86c;
	background-image: -webkit-linear-gradient(270deg, #d9c86c 35%, #a34ce6 90%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(135deg, rgba(0, 59, 77, 0.1));
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	border-radius: 1rem;
   border-bottom: thin solid var(--first-color);
	box-shadow: 0 1rem 1rem  var(--backgroung-color-home);
	z-index: 999;
}

.hero-image-text {
	font-family: var(--raleway);
	font-size: 0.85rem;
	color: var(--text-color);
}

/**********  Social Media Buttons  **********/
.social-media-buttons-background {
   margin-top: 3rem;
   margin-bottom: 3rem;
	display: grid;
	place-items: center;
	height: 3rem;
}

.social-media-buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2.5rem;
}

.social-media-button {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.6s;
	display: grid;
	place-items: center;
}

.social-media-button:hover {
	outline-offset: 1rem;
	transition: all 0.6s;
   transform: scale(1.3);
}
.social-media-button:hover:nth-child() {
	transition: opacity 0.6seg easy;
}

@media screen and (min-width: 1024px) {
	.home-title {
		font-size: 5rem;
		border-radius: 0 0 1rem 1rem;
	}

	.hero-image-text {
		font-size: 1.2rem;
      text-align: left
	}
} 