.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image{
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
}

.about-image h1{
  margin-top: .5rem;
  padding-top: .5rem;
  color: #d9c86c;
	background-image: -webkit-linear-gradient(270deg, #d9c86c 35%, #a34ce6 90%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  text-align: center;
	font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.about-image h4{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .about-description{
    margin: 0 6rem;
  }
  .about-image h1{
	font-size: 5rem;
}

.about-image h4{
  font-size: 1.5rem;
}

}